<app-header></app-header>
<div class="container my-3 pr-3">
  <form [formGroup]="loginForm" (ngSubmit)="login()" >
    <div class="form-group">
      <label for="email">E-postadress</label>
      <input type="email" class="form-control" id="email" formControlName="email" aria-describedby="emailHelp" placeholder="Ange e-postadress" [ngClass]="{ 'is-invalid': isSubmitted && f.email.errors }" />
      <div *ngIf="isSubmitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Lösenord</label>
      <input type="password" class="form-control" id="password" formControlName="password" placeholder="Lösenord"   [ngClass]="{ 'is-invalid': isSubmitted && f.password.errors }" />
      <div *ngIf="isSubmitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
          <div *ngIf="f.password.errors.minlength">Password must be at least 3 characters</div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <input type="submit" class="btn btn-primary" value="login">

    </div>
  </form>
</div>